
<div class="detail-section">
    <div class="container-fluid center">

        <img src="assets/logo2.png" class="detail-img mt-5"  width="250">

        <h3>About us</h3>
       
        

        <hr>
        <h5>Our mission is to deliver the most compelling shopping experience for our customers.</h5>
        <p>Neptex E-mart is a shopping site that offers the most comprehensive shopping 
            experience on the web. Our shopping experts have drawn on their industry experience and insider 
            connections to bring you the best collection of the stores you can't live without, and the brands and products you love - all in one place.</p>

        <button routerLink="/products" class="mt-5 btn btn-warning">Back to Home Page</button>
    </div>
</div>

