
<div class="detail-section">
    <div class="container-fluid center">

        <img src="assets/logo2.png" class="detail-img mt-5"  width="250">

        <h3>Contact us</h3>
       
        

        <hr>
        <h5>Our mission is to deliver the most compelling shopping experience for our customers.</h5>
        <p> Need help with an order? Having difficulty using our site? For immediate assistance, NEPTEX E-MART customers can contact us by email at customerservice@neptex.com, 
            or by telephone Toll Free at 1-866-420-2220.</p>

        <button routerLink="/products" class="mt-5 btn btn-warning">Back to Home Page</button>
    </div>
</div>

